<a href="https://colab.research.google.com/github/hananbahtiti/Hybrid-Intrusion-detection-Systems/blob/main/NetworkPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install scapy

Collecting scapy
  Downloading scapy-2.6.1-py3-none-any.whl.metadata (5.6 kB)
Downloading scapy-2.6.1-py3-none-any.whl (2.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 47.9 MB/s eta 0:00:00
Installing collected packages: scapy
Successfully installed scapy-2.6.1

In [ ]:
'stats' , 'snmp' , 'krb5' , 'ike'

In [22]:
!cp /content/drive/MyDrive/hybrid_IDS/dataset/eve_encoded.csv /content/

In [27]:
missing_ratios.sort_values(ascending=False).sort_index

stats         99.999301
snmp          99.967500
krb5          99.967150
ike           99.965053
sip           99.895160
dns           99.650533
alert         98.217718
pcap_cnt      97.628167
app_proto     96.884152
hour          51.983575
second        51.983575
minute        51.983575
tcp            5.555478
flow           0.625197
dest_port      0.105539
src_port       0.105539
flow_id        0.035646
dest_ip        0.000699
proto          0.000699
src_ip         0.000699
event_type     0.000000
Date           0.000000
dtype: float64

In [20]:
df = pd.read_csv('/content/eve_encoded.csv')
total_rows = len(df)

missing_ratios = (df.isnull().sum() / total_rows) * 100

print(missing_ratios.sort_values(ascending=False))
if
df.drop(columns=[])

<ipython-input-20-c3543fa222cb>:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/hybrid_IDS/dataset/eve_encoded.csv')

stats         99.999301
snmp          99.967500
krb5          99.967150
ike           99.965053
sip           99.895160
dns           99.650533
alert         98.217718
pcap_cnt      97.628167
app_proto     96.884152
hour          51.983575
second        51.983575
minute        51.983575
tcp            5.555478
flow           0.625197
dest_port      0.105539
src_port       0.105539
flow_id        0.035646
dest_ip        0.000699
proto          0.000699
src_ip         0.000699
event_type     0.000000
Date           0.000000
dtype: float64

In [3]:
df = pd.read_csv('/content/drive/MyDrive/hybrid_IDS/dataset/eve_encoded.csv')
df.info()
df.head(3)

<ipython-input-3-3dafbe73c7db>:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/hybrid_IDS/dataset/eve_encoded.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286150 entries, 0 to 286149
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ike         100 non-null     object
 1   dns         1000 non-null    object
 2   sip         300 non-null     object
 3   flow        284361 non-null  object
 4   dest_ip     286148 non-null  object
 5   src_port    285848 non-null  float64
 6   dest_port   285848 non-null  float64
 7   proto       286148 non-null  object
 8   app_proto   8916 non-null    object
 9   pcap_cnt    6787 non-null    float64
 10  src_ip      286148 non-null  object
 11  alert       5100 non-null    object
 12  krb5        94 non-null      object
 13  event_type  286150 non-null  object
 14  snmp        93 non-null      object
 15  stats       2 non-null       object
 16  tcp         270253 non-null  object
 17  flow_id     286048 non-null  float64
 18  Date        286150 non-null  int64
 19  hour        137399 non-null  float64
 20  minute      137399 non-null  float64
 21  second      137399 non-null  float64
dtypes: float64(7), int64(1), object(14)
memory usage: 48.0+ MB

,ike,dns,sip,flow,dest_ip,src_port,dest_port,proto,app_proto,pcap_cnt,...,krb5,event_type,snmp,stats,tcp,flow_id,Date,hour,minute,second
0,NaN,NaN,NaN,NaN,10.40.85.32,0.0,0.0,TCP,NaN,500.0,...,NaN,alert,NaN,NaN,NaN,NaN,0,17.0,49.0,10.0
1,NaN,NaN,NaN,"{'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...",10.40.85.32,1024.0,4096.0,TCP,NaN,2260.0,...,NaN,alert,NaN,NaN,NaN,2.558362e+14,0,17.0,49.0,44.0
2,NaN,NaN,NaN,"{'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...",10.40.85.32,1024.0,4096.0,TCP,NaN,2260.0,...,NaN,alert,NaN,NaN,NaN,2.558362e+14,0,17.0,49.0,44.0

In [5]:
df = pd.read_csv('/content/drive/MyDrive/hybrid_IDS/dataset/eve.csv')
df.info()
df.head(3)

<ipython-input-5-6bd672f96346>:1: DtypeWarning: Columns (11,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/hybrid_IDS/dataset/eve.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286150 entries, 0 to 286149
Data columns (total 21 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ike         100 non-null     object
 1   dns         1000 non-null    object
 2   sip         300 non-null     object
 3   flow        284361 non-null  object
 4   dest_ip     286148 non-null  object
 5   src_port    285848 non-null  float64
 6   dest_port   285848 non-null  float64
 7   proto       286148 non-null  object
 8   app_proto   8916 non-null    object
 9   pcap_cnt    6787 non-null    float64
 10  src_ip      286148 non-null  object
 11  timestamp   137399 non-null  object
 12  alert       5100 non-null    object
 13  krb5        94 non-null      object
 14  event_type  286150 non-null  object
 15  snmp        93 non-null      object
 16  stats       2 non-null       object
 17  tcp         270253 non-null  object
 18  flow_id     286048 non-null  float64
 19  Date        137399 non-null  object
 20  Time        137399 non-null  object
dtypes: float64(4), object(17)
memory usage: 45.8+ MB

,ike,dns,sip,flow,dest_ip,src_port,dest_port,proto,app_proto,pcap_cnt,...,timestamp,alert,krb5,event_type,snmp,stats,tcp,flow_id,Date,Time
0,NaN,NaN,NaN,NaN,10.40.85.32,0.0,0.0,TCP,NaN,500.0,...,2016-10-03 17:49:10.892710+02:00,"{'action': 'allowed', 'gid': 1, 'signature_id'...",NaN,alert,NaN,NaN,NaN,NaN,03/10/2016,17:49:10
1,NaN,NaN,NaN,"{'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...",10.40.85.32,1024.0,4096.0,TCP,NaN,2260.0,...,2016-10-03 17:49:44.321710+02:00,"{'action': 'allowed', 'gid': 1, 'signature_id'...",NaN,alert,NaN,NaN,NaN,2.558362e+14,03/10/2016,17:49:44
2,NaN,NaN,NaN,"{'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...",10.40.85.32,1024.0,4096.0,TCP,NaN,2260.0,...,2016-10-03 17:49:44.321710+02:00,"{'action': 'allowed', 'gid': 1, 'signature_id'...",NaN,alert,NaN,NaN,NaN,2.558362e+14,03/10/2016,17:49:44

In [10]:
df['sip'].value_counts()

sip
{'method': 'INVITE', 'uri': 'sip:zJPUUGK@10.40.85.32', 'version': 'SIP/2.0', 'request_line': 'INVITE sip:zJPUUGK@10.40.85.32 SIP/2.0'}                1
{'method': 'INVITE', 'uri': 'nNBPhazJ@10.40.85.32', 'version': 'SIP/2.0', 'request_line': 'INVITE nNBPhazJ@10.40.85.32 SIP/2.0'}                      1
{'method': 'INVITE', 'uri': 'sip:dkrhBcZVyKJDv@10.40.85.32', 'version': 'SIP/2.0', 'request_line': 'INVITE sip:dkrhBcZVyKJDv@10.40.85.32 SIP/2.0'}    1
{'method': 'INVITE', 'uri': 'sip:IMJEyMrtan@10.40.85.32', 'version': 'SIP/2.0', 'request_line': 'INVITE sip:IMJEyMrtan@10.40.85.32 SIP/2.0'}          1
{'method': 'INVITE', 'uri': 'sZabxfgw@10.40.85.32', 'version': 'SIP/2.0', 'request_line': 'INVITE sZabxfgw@10.40.85.32 SIP/2.0'}                      1
                                                                                                                                                     ..
{'method': 'INVITE', 'uri': 'sip:NWkbi@10.40.85.32', 'version': 'SIP/2.0', 'request_line': 'INVITE sip:NWkbi@10.40.85.32 SIP/2.0'}                    1
{'method': 'INVITE', 'uri': 'ZHvgfbgEysBISE@10.40.85.32', 'version': 'SIP/2.0', 'request_line': 'INVITE ZHvgfbgEysBISE@10.40.85.32 SIP/2.0'}          1
{'method': 'INVITE', 'uri': 'sip:ihCCakF@10.40.85.32', 'version': 'SIP/2.0', 'request_line': 'INVITE sip:ihCCakF@10.40.85.32 SIP/2.0'}                1
{'method': 'INVITE', 'uri': 'sip:OxBRfi@10.40.85.32', 'version': 'SIP/2.0', 'request_line': 'INVITE sip:OxBRfi@10.40.85.32 SIP/2.0'}                  1
{'method': 'INVITE', 'uri': 'gIrOmnSbDqOuM@10.40.85.32', 'version': 'SIP/2.0', 'request_line': 'INVITE gIrOmnSbDqOuM@10.40.85.32 SIP/2.0'}            1
Name: count, Length: 300, dtype: int64

In [ ]:
 df['Date'].value_counts(),df['Date'].unique()

(Date
 3    148751
 1     69401
 2     54913
 0     13085
 Name: count, dtype: int64,
 array([0, 1, 2, 3]))

In [ ]:
df['Date']

0         0
1         0
2         0
3         0
4         0
         ..
286145    3
286146    3
286147    3
286148    3
286149    3
Name: Date, Length: 286150, dtype: int64

In [2]:
import pandas as pd
import numpy as np
import os
import glob
import math
import ast
from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder

In [ ]:
class Preprocessing:
  def __init__(self):
    pass

  def remove_column(self, file_path, column:str):
    try:
        df = pd.read_csv(file_path)
        # If column is an index (int), get the column name
        if isinstance(column, int):
            column = df.columns[column]
        columns_to_drop = [column]

        for col in tqdm(columns_to_drop, desc="Dropping columns"):
            df = df.drop(col, axis=1)
        df.to_csv(file_path, index=False)

        return f"Column has been removed..."

    except Exception as e:
        return f"An error occurred: {e}"




  def data_encoding(self, file_path, column_number : int):
    encoder = LabelEncoder()
    tqdm.pandas()
    try:

      df = pd.read_csv(file_path)
      df.iloc[:, column_number] = df.iloc[:, column_number].astype(str).fillna(-1)

      encoder.fit(df.iloc[:, column_number])
      df.iloc[:, column_number] = df.iloc[:, column_number].progress_apply(
          lambda x:encoder.transform([x])[0] if pd.notna(x) else -1 )

      df.to_csv(file_path.replace(".csv", "_encoded.csv"), index=False)
      return f"done file..."

    except Exception as e:
      return f"An error occurred: {e}"

  def expand_dict_column(self, file_path, column_name):
    try:
      df = pd.read_csv(file_path)
      all_keys = set()
      for index, row in df.iterrows():
        if pd.notna(df.loc[index, column_name]):
          try:
            keys = ast.literal_eval(df.loc[index, column_name]).keys()
            all_keys.update(keys)
          except (SyntaxError, ValueError):
            pass
      return all_keys

      for key in all_keys:
        df[key] = np.nan

      for index in df.index:
        if pd.notna(df.loc[index, column_name]):
          try:
            dictionary = ast.literal_eval(df.loc[index, column_name])
            for key, value in dictionary.items():
              df.loc[index, key] = value
          except (SyntaxError, ValueError):
            pass
      return f"done file..."
      df.to_csv(file_path, index=False)
    except Exception as e:
      return f"An error occurred: {e}"


a = Preprocessing()
#a.data_encoding('/content/drive/MyDrive/hybrid_IDS/dataset/eve.csv',
#                column_number=19)

#a.remove_column(file_path='/content/drive/MyDrive/hybrid_IDS/dataset/eve_encoded.csv'
#              , column=11)
a.expand_dict_column( file_path='/content/drive/MyDrive/hybrid_IDS/dataset/eve_encoded.csv',
                     column_name='flow')

<ipython-input-18-d50adba54460>:45: DtypeWarning: Columns (15,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

{'age',
 'alerted',
 'bytes_toclient',
 'bytes_toserver',
 'dest_ip',
 'dest_port',
 'end',
 'pkts_toclient',
 'pkts_toserver',
 'reason',
 'src_ip',
 'src_port',
 'start',
 'state'}

In [ ]:
def expand_dict_column(self, file_path, column_name: str):
    try:
        df = pd.read_csv(file_path)

        # 1. Extract all unique keys from the dictionaries in the column
        all_keys = set()
        for index in df.index:
            if pd.notna(df.loc[index, column_name]):
                try:  # Handle potential errors in ast.literal_eval
                    dictionary = ast.literal_eval(df.loc[index, column_name])
                    all_keys.update(dictionary.keys())
                except (SyntaxError, ValueError):
                    pass  # Skip rows with invalid dictionary strings

        # 2. Pre-fill new columns with NaN to accommodate missing keys
        for key in all_keys:
            df[key] = np.nan

        # 3. Populate the new columns with values from the dictionaries
        for index in df.index:
            if pd.notna(df.loc[index, column_name]):
                try:
                    dictionary = ast.literal_eval(df.loc[index, column_name])
                    for key, value in dictionary.items():
                        df.loc[index, key] = value
                except (SyntaxError, ValueError):
                    pass  # Skip rows with invalid dictionary strings

        # 4. Drop the original dictionary column
        df = df.drop(columns=[column_name])

        df.to_csv(file_path, index=False)
        return "done file..."

    except Exception as e:
        return f"An error occurred: {e}"

In [ ]:
df['flow']

0                                                       NaN
1         {'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...
2         {'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...
3                                                       NaN
4         {'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...
                                ...
286145    {'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...
286146    {'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...
286147    {'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...
286148    {'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...
286149                                                  NaN
Name: flow, Length: 286150, dtype: object

In [ ]:
file_path = '/content/drive/MyDrive/hybrid_IDS/dataset/eve_encoded.csv'
df = pd.read_csv(file_path)
#df = df.drop(df.iloc[:,11], axis=1)
df.info()
df.loc[5, 5]

<ipython-input-19-53841a2ac594>:2: DtypeWarning: Columns (15,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [ ]:
class NetworkPreprocessing:
  def __init__(self):
    pass


  def extract_tcp_option(self, option, key):
    for opt in option:
      if opt[0] == key:
        return opt[1]
    return None


  def delete_data(self, file_path):
    df = pd.read_csv(file_path)
    df = df.loc[:, df.nunique() > 1]
    df.to_csv(file_path, index=False)
    return f"Columns containing only one value are deleted..."

  def convert_pcap_csv(self, pcap_file, csv_file):
    try:
      print("Countig packages...")
      with PcapReader(pcap_file) as count_reader:
        total_packets = sum(1 for _ in count_reader)
        print(f"Total number of packages: {total_packets}")

      print("Start converting to csv file...")
      with PcapReader(pcap_file) as packets:
        with open(csv_file, mode='w', newline="") as file:
          writer = csv.writer(file)
          writer.writerow([
              "Packet Number", "Ethernet DST", "Ethernet SRC", "Ethernet Type",
              "IP Version", "IP IHL", "IP TOS", "IP Length", "IP ID", "IP Flags",
              "IP Fragmentation", "IP TTL", "IP Proto", "IP Checksum",
              "IP Src", "IP Dst", "TCP Src Port", "TCP Dst Port", "TCP Seq",
              "TCP Ack", "TCP Data Offset", "TCP Reserved", "TCP Flags",
              "TCP Window", "TCP Checksum", "TCP Urgent Pointer", "TCP Options MSS",
              "TCP Options WScale", "TCP Options NOP","Hexdump"
          ])

          for i, packet in enumerate(tqdm(packets,total=total_packets, desc="Packet processing")):
            if packet.haslayer('Ethernet'):
              eth_dst = packet['Ethernet'].dst
              eth_src = packet['Ethernet'].src
              eth_type = packet['Ethernet'].type
            else:
              eth_dst = eth_src = eth_type = None

            if packet.haslayer('IP'):
              ip_version = packet['IP'].version
              ip_ihl = packet['IP'].ihl
              ip_tos = packet['IP'].tos
              ip_len = packet['IP'].len
              ip_id = packet['IP'].id
              ip_flags = packet['IP'].flags
              ip_frag = packet['IP'].frag
              ip_ttl = packet['IP'].ttl
              ip_proto = packet['IP'].proto
              ip_chksum = packet['IP'].chksum
              ip_src = packet['IP'].src
              ip_dst = packet['IP'].dst
            else:
              ip_version = ip_ihl = ip_tos = ip_len = ip_id = ip_flags = ip_frag = ip_ttl = ip_proto = ip_chksum = ip_src = ip_dst = None

            if packet.haslayer('TCP'):
              tcp_sport = packet['TCP'].sport
              tcp_dport = packet['TCP'].dport
              tcp_seq = packet['TCP'].seq
              tcp_ack = packet['TCP'].ack
              tcp_dataofs = packet['TCP'].dataofs
              tcp_reserved = packet['TCP'].reserved
              tcp_flags = packet['TCP'].flags
              tcp_window = packet['TCP'].window
              tcp_chksum = packet['TCP'].chksum
              tcp_urgptr = packet['TCP'].urgptr
              tcp_options = packet['TCP'].options

              tcp_mss = self.extract_tcp_option(tcp_options, 'MSS')
              tcp_wscale = self.extract_tcp_option(tcp_options, 'WScale')
              tcp_nop_count = self.extract_tcp_option(tcp_options, 'NOP')

            else:
              tcp_sport = tcp_dport = tcp_seq = tcp_ack = tcp_dataofs = tcp_reserved = tcp_flags = tcp_window = tcp_chksum = tcp_urgptr = tcp_mss = tcp_wscale = tcp_nop_count = None

            raw_data = packet.original.hex()
            writer.writerow([
                i + 1, eth_dst, eth_src, eth_type,
                  ip_version, ip_ihl, ip_tos, ip_len, ip_id, ip_flags,
                  ip_frag, ip_ttl, ip_proto, ip_chksum,
                  ip_src, ip_dst, tcp_sport, tcp_dport, tcp_seq,
                  tcp_ack, tcp_dataofs, tcp_reserved, tcp_flags,
                  tcp_window, tcp_chksum, tcp_urgptr, tcp_mss, tcp_wscale, tcp_nop_count,
                  raw_data
            ])

      return f"The file has been converted to csv successfully."
    except Exception as e:
      return f"An error occurred: {e}"

a = NetworkPreprocessing()
#a.convert_pcap_csv(pcap_file='/content/NGIDS/NGIDS-DS-v1/NGIDS.pcap',
#                   csv_file='/content/drive/MyDrive/hybrid_IDS/network.csv')
#a.delete_data(file_path='/content/drive/MyDrive/hybrid_IDS/network.csv')

In [ ]:
class PcapFileProcessing:
  def __init__(self) -> None:
    pass



  def delete_data(self, file_path):
    df = pd.read_csv(file_path)
    df = df.loc[:, df.nunique() > 1]
    df.to_csv(file_path, index=False)
    return f"Columns containing only one value are deleted..."


  def date_time_columns(self, file_path, csv_file):
    try:
        df = pd.read_csv(file_path, dtype=str)
        df.columns = df.columns.str.strip()
        if 'timestamp' not in df.columns:
            return "Error: The 'timestamp' column is missing from the file."

        df['timestamp'] = df['timestamp'].astype(str).str.strip()

        df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce', dayfirst=True)

        if df['timestamp'].isnull().all():
            return "All values in 'timestamp' are invalid and could not be converted."

        # Extract date and time
        df['date'] = df['timestamp'].dt.strftime('%d/%m/%Y')
        df['time'] = df['timestamp'].dt.strftime('%H:%M:%S')

        # Save the result
        df.to_csv(csv_file, index=False)

        return "Successfully converted 'timestamp' to 'date' and 'time'."

    except Exception as e:
        return f"An error occurred during conversion: {e}"





  def convert_log_csv(self, log_file, csv_file):
    try:
      print("Start converting to csv file...")
      with open(log_file, "r") as logfile:
        log_data = logfile.read()
      pattern = re.compile(
          r'(?P<timestamp>\d{2}/\d{2}/\d{4}-\d{2}:\d{2}:\d{2}\.\d+)\s+\[\*\*\]\s+\[(?P<sid>[^]]+)\]\s+(?P<signature>.*?)\s+\[\*\*\]\s+\[Classification:\s+(?P<classification>.*?)\]\s+\[Priority:\s+(?P<priority>\d+)\]\s+\{(?P<protocol>\w+)\}\s+(?P<src_ip>\d+\.\d+\.\d+\.\d+):(?P<src_port>\d+)\s+->\s+(?P<dst_ip>\d+\.\d+\.\d+\.\d+):(?P<dst_port>\d+)'
          )
      with open(csv_file, "w", newline="") as csvfile:
        fieldnames = ['timestamp', 'sid', 'signature', 'classification',
                      'priority', 'protocol','src_ip', 'src_port', 'dst_ip', 'dst_port']
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
        writer.writeheader()

        for match in pattern.finditer(log_data):
          writer.writerow(match.groupdict())

      return f"The file has been converted to csv successfully."

    except Exception as e:
      return f"An error occurred: {e}"


  def convert_json_csv(self, json_file, csv_file):
    try:
      print("Start converting JSON to CSV...")
      with open(json_file, 'r') as f:
        data = [json.loads(line) for line in f if line.strip()]

      fieldnames = set()
      for row in data:
          fieldnames.update(row.keys())

      fieldnames = list(fieldnames)

      with open(csv_file, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(fieldnames)

        for row in data:
          writer.writerow(row.get(field, '') for field in fieldnames)

      return f"The file has been converted to csv successfully."

    except Exception as e:
      return f"An error occurred: {e}"



a = PcapFileProcessing()
#a.convert_log_csv( log_file="/content/drive/MyDrive/hybrid_IDS/fast.log",
#                  csv_file="/content/drive/MyDrive/hybrid_IDS/alerts.csv")

#a.convert_json_csv(json_file='/content/drive/MyDrive/hybrid_IDS/eve.json',
#                   csv_file='/content/drive/MyDrive/hybrid_IDS/eve.csv')

#a.delete_data( file_path='/content/drive/MyDrive/hybrid_IDS/eve.csv')
a.date_time_columns(file_path='/content/drive/MyDrive/hybrid_IDS/eve.csv',
                    csv_file='/content/drive/MyDrive/hybrid_IDS/dataset/eve.csv')